<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles/large.css">
    <link rel="stylesheet" href="styles/small.css">
    <title>Footer</title>
</head>
<body>
    <footer>
        <div id="footer1">
            <h2>Drop by or reach out</h2>
            <p>Sasa Mall, Moi Avenue, Nairobi</p>
            <p><img src="assets/icons/phone-call.png" alt="phone" width="20"> +254 001 000</p>
            <p><img src="assets/icons/email.png" alt="email" width="20"> : hello@urbanpick.com</p>
        </div>
        <div id="footer2">
            <h2>Business Hours</h2>
            <p>Monday to Saturday</p>
            <p>8:00am to 6:00pm</p>
            <h2>Follow</h2>
            <a href="#"><img src="assets/icons/facebook.png" alt="facebook" width="30"></a>
            <a href="#"><img src="assets/icons/instagram.png" alt="instagram" width="30"></a>
        </div>
    </footer>
</body>
</html>