<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles/large.css">
    <link rel="stylesheet" href="styles/small.css">
    <title>Header</title>
</head>
<body>
    <header>
        <div id="logo">
            <img src="assets/flavicon/favicon_io/android-chrome-192x192.png" alt="logo" width="150px">
        </div>
        <div id="menu">
            <button id="menu-btn"></button>
            <nav>
                <a href="index.html">Home</a>
                <a href="shop.html">Shop</a>
                <a href="contact.html">Contact</a>
                    
                
            </nav>
            <a href="cart.html" id="cart">
                <img src="assets/icons/cart.png" alt="shopping cart" width="30">
                <span id="cart-count">0</span>
            </a>
        </div>    
        
    </header>
</body>
</html>