:root{
    --primary-color:#A9BCD0;
    --secondary-color:#373F51;
    --neutral-color:#D8DBE2;
    --primary-font:'Roboto', 'Courier New', Courier, monospace;
    --secondary-font: 'Lato',Times, serif;
}
@media screen and (max-width: 768px) {
    nav{
        display:block;
        overflow: hidden;
        max-height: 0;
        text-align: center;
        padding: 15px;
        transition: max-height 0.5s ease-in-out;
    }

    nav.open{
        display: block;
        max-height: 300px;
    }

    nav a{
        display: flex;
        flex-direction: column;
        top:100%;
        width: 100%;
        padding: 1rem;
        text-decoration: none;
        
    }

    #menu-btn{
        position:absolute;
        background-color: transparent;
        top: 25px;
        right: 10px;
        padding: 10px;
        font-size: 1.5rem;
        cursor:pointer;
    }

    #menu-btn::before {
        content: "☰"; /* Hamburger menu icon */
    }

    #menu.open #menu-btn::before {
        content: "❎"; /* Close button */
    }
    #logo img{
        width:100px;
        height:auto;
        margin-left: 10px;
    }

    #cart{
        position: absolute;
        top: 35px;
        right:75px;
    }

    footer div{
        display: flex;
        flex-direction: column;
        text-align: center;
        line-height: 10px;
        background-color: var(--neutral-color);
        max-width: 100%;
        
    }

    /*Home page*/
    #hero img{
        max-width: 100%;
        overflow-x: hidden;
        
    }
    #intro{
        text-align: center;
        margin-top: -200px;
        font-family: var(--secondary-font);
        color: white;
        font-size: larger;
        font-weight: 900;
    }

    #intro button{
        background-color: var(--secondary-color);
        color: white;
        padding: 5px;
        border-radius: 5px;
    }

    #categories-container{
        display: flex;
        flex-direction: column;
        max-width: 100%;
        height: auto;
        margin-top: 100px;
        align-items: center;
    }

    #categories-container div img{
        height: 200px;
    }

    #categories-container div{
        justify-items: center;
        margin-top: 5px;
        margin: 20px;
    }

    /*Shop Page*/
    #product-container {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        
        
    }

    #product-container div{
        width: 250px;
        margin: 0 auto;
    }

    #product-container div img{
        width: 180px;
        height: 200px;
    }

    /*cart page*/
    #cart-products div{
        justify-items: center;
        margin-bottom: 10px;
        
    }
    #cart-products div button {
        width: 100px;
    }
    #buy-btn{
        width: 150px;
        margin-left: 150px;
        font-weight: 900;
    }

    #checkout-btn{
        width: 150px;
        margin-left: 140px;
    }

    /*Checkout page*/
    #body-area{
        margin-top: -20px;
    }
    #area1{
        display: block;
        margin: 0 auto;
        border-radius: 5px;
        margin-bottom: 10px;
    }
    
    #checkout-section {
        display: block;
        margin: 10px;
       
    }
    .form-box {
        padding: 15px;
        margin-bottom: 30px;
      }
    
    form input,form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
  }
    form label,form legend,form p,.cvv-info {
    display: block;
    margin-top: 10px;
  }

  .placeOrder-btn {
    width: 100%;
    margin: 20px 0 10px 0;
  }

  /*Thank you page*/
  #delivery-pic img{
    overflow-x: hidden;
    max-width: 100%;
  }
  #contact-body{
    display: block;
    margin: 0 auto;
    
  }
  #form-details h3{
    font-size: 1.5em;
    padding: 10px;
 }

 #form-details p{
    font-size: 1em;
    padding: 5px;
 } 
/*Contact Page*/
    #contact-area{
    display: block;
    margin: 0 auto;
    max-width: 100%;
    border-radius: 1px;
    }

    #contact-form input{
        padding: 5px;
        margin: 10px
    }
}